html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

/* Handsfree.js */
.handsfree-debugger {
	position: fixed !important;
  bottom: 0;
  right: 0;
  width: 200px;
}

video {width: 100%; height: 100%}